body{
background-image: url("https://img.freepik.com/premium-vector/digital-code-background-abstract-illustration_114588-1237.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;


}

h1{
text-align: center;
color: white;
font-size: 60px;
padding-top: 70px;

}

button{
background-color: white;
font-size: 45px;
width: 50px;
cursor: pointer;


}

.display{
    height: 100px;
    width: 100px;
    border: 4px #1286c2 solid;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;

}

.parent{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#para{
    color: #1286c2;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
